[Desktop Entry]
Name=OpenGrade
GenericName=Digital Gradebook
Comment=Software for teachers to keep track of grades
Exec=opengrade
Icon=opengrade
Terminal=false
Type=Application
Categories=Utility;


# Translations
Name[oc]=OpenGrade
Icon[oc]=opengrade
GenericName[ar]=أداة تسجيل درجات رقمية
GenericName[bg]=Цифров дневник
GenericName[bn]=ডিজিটাল গ্রেডবই
GenericName[bs]=Digitalni dnevnik
GenericName[ca]=Llibreta de notes digital
GenericName[cs]=Digitální prospěchová kniha
GenericName[cy]=Graddlyfr Digidol
Comment[de]=Software für Lehrer um die Schulklassen im Überblick zu behalten
GenericName[de]=Digitales Notenheft für Lehrer
Name[de]=OpenGrade
Icon[de]=opengrade
GenericName[el]=Ψηφιακό βαθμολόγιο
GenericName[es]=Libro de grado digital
Name[es]=OpenGrade
Icon[es]=opengrade
GenericName[et]=Digitaalne klassipäevik
GenericName[eu]=Nota-liburu Digitala
GenericName[fa]=دفتر نمره دیجیتال
GenericName[fi]=Digitaalinen arvosanakirja
GenericName[fr]=Gestion des listes d'élèves pour les enseignants
GenericName[he]=יומן ציונים דיגיטאלי
GenericName[hi]=डिजीटल ग्रेडबुक
Comment[hr]=Software koji nastavnicima omogućava praćenje ocjena
GenericName[hr]=Digitalni Gradebook
GenericName[hu]=Digitális osztálynapló
GenericName[id]=Buku Peringkat Digital
GenericName[is]=Stafrænn kladdi
GenericName[it]=Registro dei voti digitale
GenericName[ja]=デジタル成績簿
GenericName[mk]=Дигитален дневник
Comment[ms]=Perisian untuk guru yang mahu merekodkan gred pelajarnya
GenericName[ms]=Buku Rekod Digital
Name[ms]=OpenGrade
Icon[ms]=opengrade
GenericName[nb]=Digital karakterbok
Comment[nl]=Applicatie voor leraren om cijfers bij te houden
GenericName[nl]=Digitale cijferlijst
Name[nl]=OpenGrade
Icon[nl]=opengrade
GenericName[nn]=Ei digital karakterbok
GenericName[pl]=Cyfrowy dziennik ocen
GenericName[pt]=Livro de Notas Digital
GenericName[pt_BR]=Boletim Digital
Comment[ru]=Программа для преподавателей для отслеживания успеваемости группы, класса
GenericName[ru]=Цифровой журнал успеваемости
Name[ru]=OpenGrade
Icon[ru]=opengrade
GenericName[sk]=Digitálny Gradebook
GenericName[sl]=Digitalna redovalnica
GenericName[sq]=Gradebook Digjitale
Comment[sr]=Софтвер намењен наставницима за уписивање оцена ученика
GenericName[sr]=Дигитални дневник оцена
Name[sr]=Слободне оцене
Icon[sr]=opengrade
GenericName[sr@latin]=Digitalni godišnjak
GenericName[sv]=Digital betygsbok
GenericName[ta]=ஓபன்கிேரட்
GenericName[tg]=Gradebook-и рақамӣ
GenericName[tl]=Digital na Gradebook
Name[tr]=OpenGrade
Icon[tr]=opengrade
Comment[uk]=Проґрама для викладачів для відстежування успішности групи, кляси
GenericName[uk]=Цифровий Клясний журнал
Name[uk]=OpenGrade
Icon[uk]=opengrade
GenericName[vi]=Gradebook số
GenericName[zh_CN]=数码成绩单
GenericName[zh_TW]=數位成績簿
GenericName[sc]=Diàriu de crassi digidali
